body {
  font-family: 'Poppins', sans-serif;
  margin: auto;
  }

#social-top {
  background-color: #000000;
  /* text-align: center; */
  padding-top: 20px;
  padding-bottom: 10px;
  font-family: 'Poppins', sans-serif;
}

#social-top p {
  color: #ffffff;
}

.icon {
  color: #ffffff;
}

.icon:hover {
  color: #fa7b2d;
  transition: 0.5s;
}

.top-icon {
  text-align: right;
}

#navbar {
  background-color: #ffffff;
  padding-top: 20px;
  padding-bottom: 10px;
  font-family: 'Poppins', sans-serif;
}

#navbar a:hover {
  color: #fa7b2d;
  transition: 0.5s;
}

#banner h1 {
  color: #ffffff;
  font-family: 'Poppins', sans-serif;
  font-size: 70px;
}

#banner p {
  color: #ffffff;
  font-family: 'Poppins', sans-serif;
}

#banner {
  background: linear-gradient(45deg, #fa7b2d 0%, #fc2e2e 100%);
  position: relative;
  min-height: 600px;
  padding-top: 90px;
  padding-bottom: 90px;
  border-radius: 0 0 50% 50%/0 0 60% 60%;
  display: flex;
  align-items: center;
}

.hero {
  width: 100%;
}

#services {
  margin-top: 90px;
  text-align: center;
  font-family: 'Poppins', sans-serif;
}

#services h1 {
  font-weight: bold;
  padding-bottom: 20px;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 50px;
}

#services p {
  padding-bottom: 40px;
  color: #7f7f7f;
  padding-left: 10px;
  padding-right: 10px;
}

.services-card p {
  padding-bottom: 20px !important;
  color: #7f7f7f;
}

.services-card h2 {
  padding-bottom: 20px;
  font-size: 30px;
}

.services-card {
  padding: 20px 15px 20px 15px;
  border-radius: 20px;
  border-width: thin;
  border-style: solid;
  border-color: #fa7b2d;
  text-align: center;
}

.services-card:hover {
  box-shadow: 0 10px 30px 0 rgba(0, 0, 0, 0.2);
  border-style: none;
  transition: 0.8s;
}

.services-icon {
  padding-top: 30px;
  position: relative;
  display: block;
  width: 120px;
  margin-left: auto;
  margin-right: auto;
  z-index: 1;
}

.icon-bg {
  margin-bottom: 40px;
  margin-top: 40px;
  position: relative;
  display: block;
  width: 140px;
  height: 140px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 100%;
  background: linear-gradient(180deg, #fa7b2d 0%, #fc2e2e 100%);
  /* background-color: #fa7b2d !important; */
  z-index: 1;
}

.pet {
  width: 100%;
}
#We-care {
  margin-top: 90px;
  margin-bottom: 90px;
  padding: 60px 10px;
  font-family: 'Poppins', sans-serif;

  background: linear-gradient(360deg, #ffffff 0%, #f7f7f7 100%);
  display: flex;
  align-items: center;
}
.button {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-family: 'Poppins', sans-serif;
  padding: 15px 30px;
  font-size: 18px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  /* background-color: #fa7b2d !important; */
  background: linear-gradient(90deg, #fa7b2d 0%, #fc2e2e 100%);
  border: none;
  border-radius: 30px;
  /* box-shadow: 0 9px #999; */
}
.button:hover {
  /* background-color: #ffffff!important; */
  background: linear-gradient(90deg, #ffffff 0%, #f3f3f3 100%);
  color: #fa7b2d;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  transition: 0.5s;
  border-width: thin;
  border-style: solid;
  border-color: #fa7b2d;
  font-weight: bold;
}
#banner button {
  display: flex;
  font-weight: bold;
  align-items: center;
  justify-content: center;
  font-family: 'Poppins', sans-serif;
  padding: 15px 30px;
  font-size: 18px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fa7b2d;
  background: linear-gradient(90deg, #ffffff 0%, #f3f3f3 100%);
  border: none;
  border-radius: 30px;
}
#banner button:hover {
  /* background-color: #ffffff!important; */
  background: linear-gradient(90deg, #fa7b2d 0%, #fc2e2e 100%);
  color: #ffffff;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  transition: 0.5s;
  border-width: thin;
  border-style: solid;
  border-color: #ffffff;
  font-weight: bold;
}
#We-care h1 {
  /* font-weight: bold; */
  padding-bottom: 20px;
  font-size: 50px;
}
#We-care p {
  padding-bottom: 20px;
  color: #7f7f7f;
}
#We-need{
  margin-top: 90px;
  margin-bottom: 90px;
  padding: 60px 10px;
  font-family: 'Poppins', sans-serif;
  display: flex;
  align-items: center;
}
#We-need h1{
  /* font-weight: bold; */
  padding-bottom: 20px;
  font-size: 50px;
}
#We-need p{
  padding-bottom: 20px;
  color: #7f7f7f;
}
.pet2{
    width: 120%;
}
.sliding-bg{
  background-color: #ffffff;
  box-shadow: 0 10px 30px 0 rgba(0, 0, 0, 0.2);
    /* transition: 0.8s; */
  padding: 40px 20px;
  font-family: 'Poppins', sans-serif;
  display: flex;
  align-items: center;
  margin: 40px;
  border-radius: 20px;
}
.sliding-img{
  width: 100%;
}
#sliding h2{
  /* padding-bottom: 8px; */
  font-size: 40px;
}
#sliding h5{
  padding-bottom: 15px;
  /* font-size: 40px; */
}
#sliding p{
  color: #7f7f7f;
}
#sliding{
  margin-top: 20px;
  margin-bottom: 20px;
}
